/*------------------------------------
  Form
------------------------------------*/

// Label
label {
  color: $gray-900;
}


// Placeholder
.form {
  &-control-dark::-webkit-input-placeholder {
    color: rgba($white, .6);
    opacity: 1;
  }
}

// Custom Checkboxes & Radios
.custom-control {
  &-label {
    &::before,
    &::after {
      margin-top: -1px;
    }

    &::before {
      border-color: $input-border-color;
    }
  }

  &-input {
    &:disabled:checked ~ .custom-control-label::before {
      border-color: rgba($primary, .1);
    }

    &.is-valid {
      & ~ .custom-control-label::before,
      &:checked ~ .custom-control-label::before {
      background-color: $success;
      border-color: $success;
      }

      .was-validated & ~ .custom-control-label::before,
      .was-validated &:checked ~ .custom-control-label::before {
        background-color: $success;
        border-color: $success;
      }
    }

    &.is-invalid ~ .custom-control-label::before,
    &.is-invalid:checked ~ .custom-control-label::before,
    .was-validated &:invalid ~ .custom-control-label::before,
    .was-validated &:invalid:checked ~ .custom-control-label::before {
      background-color: $danger;
      border-color: $danger;
    }
  }
}

// Switch
.custom-switch {
  padding-left: $custom-switch-width + $custom-control-gutter;

  .custom-control-label {
    &::before {
      left: -($custom-switch-width + $custom-control-gutter);
      width: $custom-switch-width;
      height: $custom-switch-indicator-size + .25;
      pointer-events: all;
      border-radius: $custom-switch-indicator-border-radius;
      box-shadow: none !important;
      border-color: $input-border-color;
      cursor: pointer;
      margin-top: -2px;
    }

    &::after {
      top: calc(#{(($font-size-base * $line-height-base - $custom-control-indicator-size) / 2)} + #{$custom-control-indicator-border-width * 2});
      left: calc(#{-($custom-switch-width + $custom-control-gutter)} + #{$custom-control-indicator-border-width * 2});
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
      background-color: $primary;
      border-radius: $custom-switch-indicator-border-radius;
      @include transition(transform .15s ease-in-out, $custom-forms-transition);
      cursor: pointer;
      margin-top: -2px;
    }
  }

  .custom-control-input:focus ~ .custom-control-label {
    &::before {
      border-color: $input-border-color;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $white;
      border-color: $primary;
      transform: translateX($custom-switch-width - $custom-control-indicator-size - .3);
    }
  }

  .custom-control-input:disabled ~ .custom-control-label {
    &::before {
      background-color: $custom-control-indicator-disabled-bg;
    }
    &::after {
      background-color: rgba($primary, .5);
    }
  }
}

// Pill
.form-pill {
  border-radius: $input-pill-radius;
}


// Input Group
.input-group {
  > .form-control,
  > .custom-select {
    &:not(:last-child) {
      padding-right: $input-group-addon-offset-x - $input-group-text-padding-x !important;
    }

    &:not(:last-child):not(.form-pill) {
      @include border-right-radius($border-radius);
    }

    &:not(:last-child).form-pill {
      @include border-right-radius($input-pill-radius);
    }

    &:not(:first-child) {
      padding-left: $input-group-addon-offset-x - $input-group-text-padding-x;
    }

    &:not(:first-child).form-pill {
      @include border-left-radius($input-pill-radius);
    }

    &:not(:first-child):not(.form-pill) {
      @include border-left-radius($border-radius);
    }
  }

  &-prepend,
  &-append {
    position: relative;
    z-index: $input-group-addon-z-index;
    align-items: center;
    justify-content: center;
    width: $input-group-text-width;
    padding: $input-group-text-padding-y $input-group-text-padding-x;

    .input-group-text {
      border: 0 none;
    }
  }

  &-prepend {
    margin-right: -$input-group-addon-offset-x;
  }

  &-append {
    margin-left: -$input-group-addon-offset-x;
  }

  &-text {
    padding: 0;
    border-radius: $input-group-text-radius;
    @include text-truncate;
  }
}