.md-typeset .admonition {
  font-size: 0.7rem;
}

.md-announce a,
.md-announce a:focus,
.md-announce a:hover {
  color: currentColor;
}
.md-announce strong {
  white-space: nowrap;
}
.md-announce .twitter {
  margin-left: 0.2em;
}

.mdx-container {
  padding-top: 1rem;
  background: linear-gradient(to bottom, var(--md-primary-fg-color), #a63fd9 99%, var(--md-default-bg-color) 99%);
}
[data-md-color-scheme=slate] .mdx-container {
  background: linear-gradient(to bottom, var(--md-primary-fg-color), #a63fd9 99%, var(--md-default-bg-color) 99%);
}

.mdx-hero {
  margin: 0 0.8rem;
  color: var(--md-primary-bg-color);
  padding-bottom: 1.6rem;
}
.mdx-hero h1 {
  margin-bottom: 1rem;
  color: currentColor;
  font-weight: 700;
}
@media screen and (max-width: 29.9375em) {
  .mdx-hero h1 {
    font-size: 1.4rem;
  }
}
.mdx-hero__content {
  padding: 1rem;
}
.mdx-hero__image {
  padding: 1rem;
  min-width: 60%;
}
@media screen and (min-width: 60em) {
  .mdx-hero {
    display: flex;
    align-items: stretch;
  }
  .mdx-hero__content {
    max-width: 23rem;
    margin-top: 1rem;
  }
  .mdx-hero__image {
    order: 1;
    width: 34rem;
    margin-top: 1rem;
    transform: translateX(1.5rem);
  }
}
@media screen and (min-width: 76.25em) {
  .mdx-hero__image {
    transform: translateX(2rem);
  }
}
.mdx-hero .md-button {
  margin-top: 1rem;
  margin-right: 0.5rem;
  color: var(--md-primary-bg-color);
}
.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  color: var(--md-default-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}
.mdx-hero .md-button--primary {
  color: #894da8;
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
}

.md-header__title {
  font-size: 1.5rem;
}

.feature-item h2 svg {
  height: 30px;
  float: left;
  margin-right: 10px;
  transform: translateY(10%);
}

.top-hr {
  margin-top: 0px;
}

.feature-item {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 15px;
  word-break: break-word;
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: block;
  line-height: normal;
  margin-top: 10px;
  font-family: inherit;
}
[data-md-color-scheme=slate] .feature-item h2 {
  color: #fff;
}

.feature-item p {
  font-size: 18px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
  margin: 0 0 10px;
  display: block;
}
[data-md-color-scheme=slate] .feature-item p {
  color: #fff;
}

@media screen and (min-width: 76.25em) {
  .top-hr {
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.2rem;
    flex-wrap: wrap;
  }

  .feature-item {
    width: 100%;
  }

  .feature-item:hover {
    background-color: #526cfe47;
    border-radius: 3px;
  }
  [data-md-color-scheme=slate] .feature-item:hover {
    background-color: rgba(193, 2, 97, 0.6);
  }
}
.cards {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.cards .md-grid h1 {
  text-align: center;
  color: #333;
}
[data-md-color-scheme=slate] .cards .md-grid h1 {
  color: #fff;
}
[data-md-color-scheme=default] .cards {
  background: linear-gradient(to bottom, rgba(242, 219, 255, 0.99), rgba(254, 254, 235, 0.99));
}

.tx-container {
  background: linear-gradient(to bottom, var(--md-primary-fg-color), #a63fd9 99%, var(--md-default-bg-color) 99%);
}
[data-md-color-scheme=slate] .tx-container {
  background: linear-gradient(to bottom, var(--md-primary-fg-color), #a63fd9 99%, var(--md-default-bg-color) 99%);
}
.tx-container .tx-hero {
  color: var(--md-primary-bg-color);
}
@media screen and (min-width: 50em) {
  .tx-container .tx-hero {
    display: flex;
    flex-wrap: wrap;
  }
  .tx-container .tx-hero .tx-card {
    width: 50%;
  }
}
.tx-container .tx-hero .tx-card {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.tx-container .tx-hero .tx-card .md-button {
  color: var(--md-primary-bg-color);
}
.tx-container .tx-hero .tx-card .md-button:focus, .tx-container .tx-hero .tx-card .md-button:hover {
  color: var(--md-default-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}
.tx-container .tx-hero .tx-card .md-button--primary {
  color: #894da8;
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
}

.md-tabs__link {
  font-size: 0.8rem;
}
