.md-typeset .admonition, .md-typeset details {
  font-size: 0.75rem;
}

.mdx-container {
  padding-top: 2rem;
  background: linear-gradient(to bottom, #cd0404, #430195);
  min-height: 44.2rem;
}

.md-grid {
  max-width: 66rem;
}

.mdx-hero {
  margin: 0 0.8rem;
  color: var(--md-primary-bg-color);
  padding-bottom: 1rem;
}
.mdx-hero h1 {
  color: currentColor;
  font-weight: 700;
}
.mdx-hero__content {
  padding: 1rem;
}
.mdx-hero__image {
  padding: 1rem;
}
@media screen and (min-width: 76.25em) {
  .mdx-hero {
    display: flex;
    align-items: stretch;
  }
  .mdx-hero__content {
    min-width: 45%;
  }
  .mdx-hero__image {
    order: 1;
    min-width: 55%;
  }
}
.mdx-hero .md-button {
  margin-top: 1rem;
  margin-right: 0.5rem;
  color: var(--md-primary-bg-color);
}
.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  color: var(--md-default-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}
.mdx-hero .md-button--primary {
  color: #894da8;
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #ffecf4;
}

.text-light {
  color: var(--md-primary-bg-color);
}
.text-light a {
  color: #ffd0d0;
}

.text-center {
  text-align: center;
}

.md-header__title {
  font-size: 1.5rem;
}

.md-header img:focus, .md-header img:hover {
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  transform: 2s;
}

.md-tabs__link {
  font-size: 0.8rem;
}
