/*------------------------------------
  Paginations
------------------------------------*/

.page {
  &-item {
    & + & {
      margin-left: $pagination-item-margin-x;
    }
  }

  &-link {
    min-width: $pagination-min-width;
    text-align: center;
    @if $enable-rounded {
      border-radius: $border-radius;
    }
    transition: $pagination-transition;

    &.active {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }
}