/*------------------------------------
  Callout
------------------------------------*/

.duik-callout {
  position: relative;
  padding: $callout-padding-y $callout-padding-x;
  margin-bottom: $callout-margin-bottom;
  border: {
    width: $callout-border-width $callout-border-width $callout-border-width $callout-border-left-width;
    color: $border-color;
    style: solid;
    radius: $callout-border-radius;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @include callout-variant($value);
    }
  }
}