.bottom-4 {
  bottom: 1.5rem;
}

.bottom-n9 {
  bottom: -4rem;
}

.duik-fonts-block {
  padding: 1.875rem;
  line-height: 2;
  letter-spacing: 1px;
}

.duik-fonts-block__item {
  line-height: 1;
}

.duik-fonts-block__item-xl {
  font-size: 90px;
  line-height: 1;
}

.duik-fonts-block__item-xs {
  font-size: 30px;
  line-height: 1;
}

.duik-browser-img {
  position: relative;
  top: -7px;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
