/*------------------------------------
  SVG Icons
------------------------------------*/

// Sizes
@for $i from 1 through 4 {
  .duik-icon-svg-#{$i}x {
    width: $font-size-base * $i;
    height: auto;
  }
}

// Colors
@each $color, $value in $theme-colors {
  .duik-icon-svg-#{$color} {
    stroke: #{$value};
  }
}