.feature-item h2 svg {
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: translateY(10%);
}

.top-hr {
    margin-top: 0px;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word
}

.feature-item h2 {
    color: #333;
    font-weight: 300;
    font-size: 30px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    // margin: 0 0 10px;
    display: block;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    line-height: normal;
    margin-top: 10px;
    // margin-bottom: 10px;
    font-family: inherit;

    // Adjust for slate theme
    [data-md-color-scheme="slate"] & {
        color: #fff;
    }
}

.feature-item p {
    font-size: 18px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    margin: 0 0 10px;
    display: block;

    // Adjust for slate theme
    [data-md-color-scheme="slate"] & {
        color: #fff;
    }    
}

@media screen and (min-width:76.25em) {
    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
        flex-wrap: wrap;
    }

    .feature-item {
        width: 100%;        
    }

    .feature-item:hover {
        background-color: #526cfe47;
        border-radius: 3px;

        // Adjust for slate theme
        [data-md-color-scheme="slate"] & {
            background-color: rgba(193, 2, 97, 0.6);
        }

    }
}

// section headers
.cards {
    padding-top: px2rem(20px);
    padding-bottom: px2rem(30px);
    .md-grid {  
        // Hero headline
        h1 {
            text-align: center;
            color: #333;
        
            // Adjust for slate theme
            [data-md-color-scheme="slate"] & {
                color: #fff;
            }
        }
        
    }

    [data-md-color-scheme="default"] & {
        background: linear-gradient(
            to bottom,
            rgba(245, 229, 255, 0.99),
            rgba(255, 255, 255, 1.0),
            rgba(255, 255, 255, 1.0),
            rgba(255, 240, 240, 0.99),
        );
    }

    // Adjust background for slate theme
    // [data-md-color-scheme="slate"] & {
    //     background: linear-gradient(
    //         to bottom,
    //         rgba(193, 2, 97, 0.9),
    //         rgba(166, 63, 217, 0.9),
    //       );
    //   }

}

.tx-container {
    background: linear-gradient(
        to bottom,
        var(--md-primary-fg-color),
        hsla(280, 67%, 55%, 1) 99%,
        var(--md-default-bg-color) 99%
      );
  
    // Adjust background for slate theme
    [data-md-color-scheme="slate"] & {
      background: linear-gradient(
          to bottom,
          var(--md-primary-fg-color),
          hsla(280, 67%, 55%, 1) 99%,
          var(--md-default-bg-color) 99%
        );
    }


    .tx-hero {
        color: var(--md-primary-bg-color);

        @media screen and (min-width:50.0em) {
            display: flex;
            flex-wrap: wrap;    

            .tx-card {
                width: 50%;
            }
        }


        .tx-card {
            padding-left: px2rem(50px);
            padding-right: px2rem(50px);            

            // Button
            .md-button {
                color: var(--md-primary-bg-color);

                // Button on focus/hover
                &:focus,
                &:hover {
                color: var(--md-default-bg-color);
                background-color: var(--md-accent-fg-color);
                border-color: var(--md-accent-fg-color);
                }

                // Primary button
                &--primary {
                color: hsla(280deg, 37%, 48%, 1);
                background-color: var(--md-primary-bg-color);
                border-color: var(--md-primary-bg-color);
                }
            }            
        }      
    }
}