.top-hr {
  width: 100%;
  display: flex;
  max-width: 61rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: px2rem(20px);
  padding-bottom: px2rem(20px);
  flex-wrap: wrap;  
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 25px;
  word-break: break-word
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
}

.feature-item p {
  font-size: 18px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
  margin: 0 0 10px;
  display: block;  
}

// .feature-item h2 svg {
//   color: rgb(160, 1, 1);
// }


@include break-from-device(mobile portrait) {
  .feature-item {
    width: 100%;        
  }
}


@include break-from-device(screen small) {
  .feature-item {
    width: 50%;   
  }
}

.feature-item:hover {
  background-color: rgb(254, 245, 245);
  border-radius: 3px;
}

.text-center {
  text-align: center;

  .iframe-container {
    display: block;
  }
}

.tx-container {
    background: rgb(254, 245, 245);

    .pad-margin {
      padding: px2rem(30px);

      h1 {
          margin: px2rem(0px);
        }  
      
      h3 {
        margin: px2em(16px, 20px) 0 px2em(16px, 20px);
      }
    }

    .tx-hero {
        // color: var(--md-primary-fg-color);

            display: flex;
            flex-wrap: wrap;    

            .tx-card {
                padding-bottom: px2rem(20px);            
              }

        @include break-from-device(mobile portrait) {
          .tx-card {
            width: 100%;
          }
        }
        
        @include break-from-device(tablet portrait) {
          .tx-card {
            width: 100%;
          }
        }
        
        @include break-from-device(tablet landscape) {
          .tx-card {
            width: 33%;
          }
        }
        
        @include break-from-device(screen small) {
          .tx-card {
            width: 33%;
          }
        }        


        .tx-card {
            padding-left: px2rem(50px);
            padding-right: px2rem(50px);
            padding-bottom: px2rem(20px);            

            // Button
            .md-button {
                // Button on focus/hover
                &:focus,
                &:hover {
                background-color: rgb(103, 0, 0);
                border-color: rgb(103, 1, 1);
                }
            }        
        }      
    }
}