// Landing page title
.md-header {
  &__title {
    font-size: px2rem(30px);
  }
}

.md-header img {
  // Button on focus/hover
    &:focus,
    &:hover {
      -webkit-transform: rotate(720deg);
      -moz-transform: rotate(720deg);
      -o-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
      transform: rotate(720deg);
      -webkit-transition-duration: 2s;
      -moz-transition-duration: 2s;
      -o-transition-duration: 2s;
      transition-duration: 2s;
      transform: 2s;
  }
}

