// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Landing page container
.mdx-container {
  padding-top: px2rem(40px);
  background:
    linear-gradient(
      to bottom,
      hsla(0, 96%, 41%),
      rgb(67, 1, 149)
    );
  min-height: px2rem(884px);
}

.md-grid {
  max-width: 66rem;
}

// Landing page hero
.mdx-hero {
  margin: 0 px2rem(16px);
  color: var(--md-primary-bg-color);
  padding-bottom: px2rem(20px);

  // Hero headline
  h1 {
    color: currentColor;
    font-weight: 700;
  }

  // Hero content
  &__content {
    padding: px2rem(20px);    
  }

  // Hero image
  &__image {
    padding: px2rem(20px);
  }

  // [tablet landscape +]: Columnar display
  @include break-from-device(screen small) {
    display: flex;
    align-items: stretch;

    // Adjust spacing and set dimensions
    &__content {
      min-width: 45%;
    }

    // Hero image
    &__image {
      order: 1;
      min-width: 55%;
    }
  }

  // Button
  .md-button {
    margin-top: px2rem(20px);
    margin-right: px2rem(10px);
    color: var(--md-primary-bg-color);

    // Button on focus/hover
    &:focus,
    &:hover {
      color: var(--md-accent-bg-color);
      background-color: var(--md-accent-fg-color);
      border-color: var(--md-accent-fg-color);
    }

    // Primary button
    &--primary {
      color: hsla(280deg, 37%, 48%, 1);
      background-color: var(--md-primary-bg-color);
      border-color: var(--md-primary-bg-color);
    }
  }

  .text-large {
    font-size: 1rem;
  }


}

// icon
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color: #ffecf4;
}
.text-light {
  color: var(--md-primary-bg-color);

  a {
    color: #ffd0d0;
  }
}
.text-center {
  text-align: center;
  padding: px2rem(20px);
}