/*------------------------------------
  AnchorJS Link
------------------------------------*/
[data-anchorjs-icon]::after {
  content: attr(data-anchorjs-icon);
}
.duik-anchorjs-link {
  padding-left: .5rem;
  font-size: 90%;
  color: rgba($primary, .5);
  transition: color .16s linear;
  opacity: 0;

  &:hover {
    color: rgba($primary, 1);
    text-decoration: none;
  }
  h2:hover &,
  h3:hover &,
  h4:hover & {
    opacity: 1;
  }
}