/*------------------------------------
  Go To
------------------------------------*/

.duik-go-to {
  position: fixed;
  right: 25px;
  bottom: -50px;
  z-index: $go-to-z-index;
  width: $go-to-width;
  height: $go-to-height;
  background-color: $go-to-bg;
  color: $go-to-color;
  font-size: $go-to-font-size;
  border-radius: $go-to-border-radius;
  opacity: $go-to-opacity;
  transition: $go-to-transition;

  &.show {
    bottom: 25px;
  }

  &__inner {
    @include content-centered;
  }

  &:hover,
  &:focus:hover {
    color: $go-to-hover-color;
  	opacity: $go-to-hover-opacity;
  }
}