apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: chaosexperiments.litmuschaos.io
spec:
  group: litmuschaos.io
  names:
    kind: ChaosExperiment
    listKind: ChaosExperimentList
    plural: chaosexperiments
    singular: chaosexperiment
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          description: 
            type: object
            additionalProperties:
              type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          status:
            x-kubernetes-preserve-unknown-fields: true
            type: object            
          spec:
            type: object
            properties:
              definition:
                x-kubernetes-preserve-unknown-fields: true
                type: object
                properties:
                  args:
                    type: array
                    items:
                      type: string
                  command:
                    type: array
                    items:
                      type: string
                  env:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                  image:
                    type: string
                  imagePullPolicy:
                    type: string
                  labels:
                    type: object
                    additionalProperties:
                      type: string
                  scope:
                    type: string
                    pattern: ^(Namespaced|Cluster)$
                  permissions:
                    type: array
                    items:
                      type: object
                      minProperties: 3
                      required:
                        - apiGroups
                        - resources
                        - verbs
                      properties:
                        apiGroups:
                          type: array
                          items:
                            type: string
                        resources:
                          type: array
                          items:
                            type: string
                        verbs:
                          type: array
                          items:
                            type: string
                        resourceNames:
                          type: array
                          items:
                            type: string
                        nonResourceURLs:
                          type: array
                          items:
                            type: string
                  configMaps:
                    type: array
                    items:
                      type: object
                      minProperties: 2
                      properties:
                        name:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                        mountPath:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                  secrets:
                    type: array
                    items:
                      type: object
                      minProperties: 2
                      properties:
                        name:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                        mountPath:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                  hostFileVolumes:
                    type: array
                    items:
                      type: object
                      minProperties: 3
                      properties:
                        name:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                        mountPath:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                        nodePath:
                          type: string
                          allowEmptyValue: false
                          minLength: 1
                  securityContext:
                    x-kubernetes-preserve-unknown-fields: true
                    type: object
                  hostPID:
                    type: boolean

    served: true
    storage: true
    subresources: {}
  conversion:
    strategy: None
