// Bootstrap setup
@import '../../vendor/bootstrap/scss/functions';
@import '../../vendor/bootstrap/scss/variables';

// Docs UI Kit setup
@import 'docs/variables';

.bottom-4 {
  bottom: 1.5rem;
}

.bottom-n9 {
  bottom: -4rem;
}

.duik-fonts-block {
  padding: 1.875rem;
  line-height: 2;
  letter-spacing: 1px;

  &__item {
    line-height: 1;

    &-xl {
      font-size: 90px;
      line-height: 1;
    }
    &-xs {
      font-size: 30px;
      line-height: 1;
    }
  }
}

.duik-browser-img {
  position: relative;
  top: -7px;
  border-bottom: {
    left-radius: .5rem;
    right-radius: .5rem;
  }
}