{{/*
  Purpose: create a button that allows you to add to GitHub starcount

  Usage:
    {{< githubStars >}}
*/}}

<center>
  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/iter8-tools/iter8" data-show-count="true" data-size="large" aria-label="Star iter8-tools/iter8 on GitHub">Star</a>
</center>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>