### iter8Image default iter8 image used for running Kubernetes experiments
iter8Image: iter8/iter8:0.14

### majorMinor is the minor version of Iter8
majorMinor: v0.14

### runner for Kubernetes experiments may be job, cronjob, or none
runner: none

logLevel: info

abnmetrics:
  endpoint: iter8-abn:50051

### Resource limits
resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"