/*------------------------------------
  Accordion
------------------------------------*/

.accordion {
  &-header {
    cursor: pointer;
  }

  &-control {
    font-size: 90%;
    transition: transform .3s ease-in;

    .accordion-header:not(.collapsed) & {
      transform: rotate(-180deg);
    }
  }
}