/*------------------------------------
  Typography Font Size
------------------------------------*/

.extra-small {
  font-size: $exatra-small-font-size;
}

.font-size-2rem {
  font-size: 2rem;
}

/*------------------------------------
  Letter Spacing
------------------------------------*/

.text-space-1 {
  letter-spacing: 1px;
}

/*------------------------------------
  Text Decoration
------------------------------------*/

.text-none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}