name: Release charts

on:
  push:
    branches:
    - master

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Install Helm
      uses: azure/setup-helm@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@v1.5.0
      with:
        config: config.yaml
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
