name: Spell check markdown

on:
  pull_request:
    branches:
    - master

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - run: |
        pwd
        ls -l
    - uses: rojopolis/spellcheck-github-actions@0.29.0
      with:
        config_path: .github/spellcheck.yml
