Jinja2>=2.11.1 # Bug with material: https://github.com/squidfunk/mkdocs-material/issues/2291#issuecomment-851465172
markdown>=3.2
mike>=1.0.1
mkdocs>=1.2.2
mkdocs-macros-plugin>=0.5.12
mkdocs-material>=7.1.8
mkdocs-material-extensions>=1.0
mkdocs-minify-plugin>=0.4.0
mkdocs-redirects>=1.0.1
pymdown-extensions>=7.0
Pygments>=2.4